%h2
  = @title["title"]
%p
  Date:
  = @title["creation_date"]
%p
  = @title["content"]

#form
  %form{action:"/posts/#{@title["id"]}", method: "post"}
    %input{type: "text", name:"title", value: "#{@title["title"]}"}
    %p
      %input{type: "text", name:"content", value: "#{@title["content"]}"}
    %p
      %input{type: "text", name:"creation_date", value: "#{@title["creation_date"]}"}
    %p
      %button confirm changes

%a{:href => "/delete/#{@title["id"]}"} delete post